<aside class="sidebar" aria-label="Sidebar">
	<div class="sidebar-scrollable">
		<div class="widget-area">
			<section class="widget widget-text">
				<h2 class="widget-title">About {{@blog.title}}</h2>
				<!-- <img src="https://res.cloudinary.com/endless7/image/upload/v1553416771/endless7_blog/v2-3fe57eb57c6b61aadff73f6214bcad07_r.jpg" style="width:auto;height:auto;max-width:100%;max-height:100%;"/> -->
				<p> </p>
				<p>这里是董先生的博客咯 </p>
				<p>华中科技大学 金融系本科在读</p>
				<p>兴趣使然的coder</p>
			<!--	<p>题图含义，也有很多同学问我博客题图放一张冰山的图有什么特殊含义。这张图其实是下"半边"都是"冰霜"，也正是"冰霜之地"的意思。这张图也是我找了好久才找到的，当时一看见就立即看中了，真的有种可遇不可求的感觉。</p> -->
				<!-- <img src="https://img.halfrost.com/Blog/ArticleTitleImage/d/fa/2d9c8ec383f60ac959291e172b584.jpg" style="width:auto;height:auto;max-width:100%;max-height:100%;"/> -->
				<!-- <p> 💪 天道酬勤，勤能补拙。博观而约取，厚积而薄发。</p> -->
			</section><!-- .widget -->
			<section class="widget widget-text">
				<h2 class="widget-title">Contact</h2>
				<!-- <img src="{{primary_author.profile_image}}" style="width:auto;height:auto;max-width:100%;max-height:100%;"/> -->
				<p> 起初是因为一首挺喜欢的纯音乐 the endless sky 发现这个三个单词首尾相连 就拿来做 昵称 thendlessky 然后有的网站被占用 慢慢就成了endless7呀 </p>
				<ul class="contacts">
					<li><a href="https://github.com/endless7"><i class="fa fa-github"></i>  @endless7</a></li>
					<!-- <li><a href="https://weibo.com/halfrost"><i class="fa fa-weibo"></i>  @halfrost</a></li> -->
					<!-- <li><a href="https://twitter.com/halffrost"><i class="fa fa-twitter"></i>  @halffrost</a></li> -->
					<li><span class="fa fa-envelope" aria-hidden="true"></span>  fncdong@gmail.com</li>
					<!-- <li><span class="fa fa-map-pin" aria-hidden="true"></span>    中国上海 徐汇区</li> -->
				</ul>
				<!-- <p>如果是特别急的事情，需要当面沟通，也可以通过微信联系，加好友请注明从何处获得到微信号，和加好友的意图(比如讨论技术等等)，至于微信号在哪里，就卖个关子，有缘人自然会相见 🤪 </p> -->
			</section><!-- .widget -->
		</div><!-- .widget-area -->
		<a class="sidebar-toggle" href="#"><span class="screen-reader-text"></span><span aria-hidden="true" class="icon-close-custom"></span></a>
	</div><!-- .sidebar-scrollable -->
</aside><!-- .sidebar -->
