<div class="widget widget-footer col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h2 class="widget-title">Popular tags</h2>
    <ul>
        <!-- <li><a href="/tag/machine%20learning/">Machine Learning</a></li> -->
        <!-- <li><a href="/tag/go/">golang</a></li> -->
        <!-- <li><a href="/tag/javascript/">JavaScript</a></li> -->
        <li><a href="/tag/ios/">iOS</a></li>
        <li><a href="/tag/thoughts/">可能的奇怪想法</a></li>
        <li><a href="/tag/daily/">日常生活</a></li>
    </ul>
</div>
